.chat-modal-container .chat-div {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 90%;
	flex-wrap: wrap;
}

.chat-modal-container .assistant {
	border: solid #740c1c;
	align-self: start;
	border-radius: 1em 2em 2em 1em
}

.chat-modal-container pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-modal-container .user {
	border: solid #132c87;
	align-self: end;
	text-align: end;
	border-radius: 2em 1em 1em 2em
}

.chat-modal-container {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
}

.image-modal-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.image-modal-wrapper {
	width: 45%;
	margin: 1%;
}
.image-modal-image{
	width: 100%;
	max-height: 30vh;
	object-fit: contain;
}

.prompt-modal-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	column-gap: 0.3em;
	font-weight: 300;
	font-style: italic;
}

.chat-button-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.chat-button-container-right {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-end;
	gap: 5px;

}
.upper-border {
	border-top: 1px solid #686868;
	padding-top: 5px;
}



.prompt-left-container {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: flex-end;
}

.prompt-right-container {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: center;
	row-gap: 0.2em;
}

.speech-modal-container{
	display: flex;
	justify-content: space-around;
}

.record-button{
	border-color: green;
	border-width: 0.3em;
	border-style: solid;
}

.description{
	margin-block-start: 0;
    margin-block-end: 0;
	}

.hidden-file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
